#call-box {
  background: rgb(19, 31, 78);
  background: linear-gradient(
    158deg,
    rgba(19, 31, 78, 1) 0%,
    rgba(52, 202, 218, 1) 51%,
    rgba(17, 74, 59, 1) 100%
  );
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font: 600;
  border-radius: 12px;
  padding: 15px 7px 10px 7px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#track-box {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font: 600;
  border-radius: 12px;
  padding: 15px 7px 10px 7px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grid-1 {
  display: grid;
  grid-template-columns: auto auto;
}

#button-1 {
  font-size: 20px;
  background-color: white;
  color: rgba(17, 74, 59, 1);
}

.Cart-Box {
  background-color: #fafafa;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-top: 45px;
}

#delete-icon {
  cursor: pointer;
  padding: 10px;
}

#delete-icon:hover {
  color: red;
}

@media screen and (max-width: 900px) {
  #call-box {
    font-size: 25px;
    font: 600;
  }
  #button-1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  #call-box {
    font-size: 22px;
    font: 600;
  }
  #button-1 {
    font-size: 11px;
  }

  .delete-grid {
    margin-left: 100px;
  }
}

@media screen and (max-width: 500px) {
  #call-box {
    font-size: 20px;
    font: 600;
  }
  #button-1 {
    font-size: 10px;
  }

  .grid-1 {
    display: block;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 300px) {
  #call-box {
    font-size: 15px;
    font: 600;
  }
  #button-1 {
    font-size: 6px;
  }
}
